<header>
  <div class="row">
    <div class="top-bar">
      <a class="menu-toggle" href="#"><span>Menu</span></a>

      <nav id="main-nav-wrap">
        <ul class="main-navigation">
          <li class="nav-item">
            <a class="nav-link" href="/home" title="">Home</a>
          </li>
          <li>
            <a class="nav-link" href="about" title="">About</a>
          </li>
          <li>
            <a class="nav-link" href="hobi" title="">Projects</a>
          </li>
          <li>
            <a class="nav-link" href="contact" title="contact">Contact</a>
          </li>
          <li>
            <a class="nav-link" href="/auth/logout" title="logout">Log Out</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
