<%- include('partials/head.ejs') %> <%- include('partials/navbar.ejs') %>
<form action="/about" method="get">
  <div class="row section-intro">
    <div class="col-twelve">
      <h5>About</h5>
      <h1>Dozvolite da se predstavim.</h1>

      <div class="intro-info">
        <img src="images/profile-pic.jpg" alt="Profile Picture" />

        <p class="lead">
          Ovo su moji licni podaci koji opisuju mene i moj rad u programiranju.
          Vodio sam se citatima poznatih programera."Cesto kad vidite programere,
          oni nista ne rade.Jedna od zbunjujucih stvari kod programera je sto ne mozete
          reci rade li oni ili ne gledajuci ih".
          <p>Charles M. Strauss.</p>
          
        </p>
      </div>
    </div>
  </div>
  <!-- /section-intro -->

  <div class="row about-content">
    <div class="col-six tab-full">
      <h3>Profile</h3>
      <p>
        Licni podaci koji govore o meni o datumu rodjenja,
        poslu,sajt za kontakt sa mnom,email adresa i td..
      </p>

      <ul class="info-list">
        <li>
          <strong>Fullname:</strong>
          <span>Slavko Roganovic</span>
        </li>
        <li>
          <strong>Datum Rodjenja:</strong>
          <span>September 28, 1970</span>
        </li>
        <li>
          <strong>Job:</strong>
          <span>Freelancer, Web Developer</span>
        </li>
        <li>
          <strong>Website:</strong>
          <span>www.itprogramiranje.com</span>
        </li>
        <li>
          <strong>Email:</strong>
          <span>slavkoroganovic234@gmail.com</span>
        </li>
      </ul>
      <!-- /info-list -->
    </div>

    <div class="col-six tab-full">
      <h3>Skills</h3>
      <p>
      Radeci naporno uspio sam nauciti vjestine programiranja.
      Napredovanje iskljucivo zavisi od mentora.Mentori su ti koji 
      izvode na put programiranja.Ulaganje vremena i energije u kvalitetne
      izvore znanja,garantuju blistavu i sjajnu karijeru. 

      </p>

      <ul class="skill-bars">
        <li>
          <div class="progress percent90"><span>90%</span></div>
          <strong>HTML5</strong>
        </li>
        <li>
          <div class="progress percent85"><span>85%</span></div>
          <strong>CSS3</strong>
        </li>
        <li>
          <div class="progress percent70"><span>70%</span></div>
          <strong>JAVA SCRIPT</strong>
        </li>
        <li>
          <div class="progress percent95"><span>95%</span></div>
          <strong>NODEJS</strong>
        </li>
      </ul>
      <!-- /skill-bars -->
    </div>
  </div>


</form>

<script src="js/jquery-2.1.3.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>

<%- include('partials/footer.ejs') %>
